html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
    background-color: #f8f9fb;
}

.table th, .table td {
    vertical-align: middle;
}

/* POE Part 1 polish */
body { background-color:#f8f9fb; }
.table th, .table td { vertical-align: middle; }
.navbar .nav-link.active {
    font-weight: 600;
}

.table td, .table th {
    vertical-align: middle;
}

.badge {
    font-size: .85rem;
}

.progress {
    background-color: #eee;
}

    .progress .progress-bar {
        font-size: .75rem;
    }
