@{
    var ok = TempData["ok"] as string; var err = TempData["err"] as string;
}
@if (!string.IsNullOrWhiteSpace(ok))
{
     <div class="alert alert-success">@ok</div>
}
@if (!string.IsNullOrWhiteSpace(err))
{
     <div class="alert alert-danger">@err</div>
}
